<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {styles: ['normalize', 'styles','header','footer','product']}) %>
<body>

    <%- include ('../partials/header') %>
    
    <main class="form-product">
        <h1>Editando: -nombreProducto-</h1>
        <form>  

            <div class="form-group">
                <label for="productName">Nombre de producto:</label>
                <input type="text" id="productName" name="productName" value="" required><br><br>
            </div>

            <div class="form-group">
                <label for="productDescription">Descripción del producto:</label>
                <textarea name="productDescription" id="productDescription" rows="10" value="" required></textarea><br><br>
            </div>

            <div class="form-group">
                <label for="categorias">Categorías de productos:</label>
                <select>
                    <option>--Seleccionar--</option>
                    <option>Perros</option>
                    <option>Gatos</option>
                    <option>Aves</option>
                    <option>Peces</option>
                    <option>Otros</option>
                </select><br><br>
            </div>        
            
            <div class="form-group">    
                <label for="productPrice">Precio de venta $</label>
                <input type="number" id="productPrice" name="productPrice" value="" required><br><br>
            </div>    
            
            <div class="form-group">    
                <label for="productImage">Imagen:</label>
                <input type="file" id="productImage" name="productImage" alt="Imagen del producto" accept=".jpeg, .jpg, .pdf,.png" value="" required><br><br>
            </div>        

            <input type="submit" value="Actualizar">

        </form>
        <form>
            <button class="btn-delete" type="reset">Eliminar</button>
        </form>
    </main>

    <%- include ('../partials/footer') %>

</body>
</html>