<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {styles: ['normalize']}) %>
<body>
    <div class="error-container">
        <h1>Error 404</h1>
        <p>Lo siento, la página que estás buscando no se ha encontrado.</p>
        <a href="/">Volver a la página de inicio</a>
    </div>
</body>

</html>