<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Pets | PETSHOP</title>
</head>
<body>
    <header></header>
    
    <section class="carousel">
        <!-- Acá hiría el carousel -->
    </section>

    <section class="categories">
        <h2>Categorías</h2>
        <div class="category">
            <img src="" alt="Categoría 1">
            <p>Nombre de la Categoría 1</p>
        </div>
        <div class="category">
            <img src="" alt="Categoría 2">
            <p>Nombre de la Categoría 2</p>
        </div>
        <div class="category">
            <img src="" alt="Categoría 3">
            <p>Nombre de la Categoría 3</p>
        </div>
        <div class="category">
            <img src="" alt="Categoría 4">
            <p>Nombre de la Categoría 4</p>
        </div>
        <div class="category">
            <img src="" alt="Categoría 5">
            <p>Nombre de la Categoría 5</p>
        </div>
         
    </section>

    <section class="brands">
        <h2>Marcas Destacadas</h2>
        <div class="brand">
            <img src="" alt="Marca 1">
            <p>Marca 1</p>
        </div>
        <div class="brand">
            <img src="" alt="Marca 2">
            <p>Marca 2</p>
        </div>
        <div class="brand">
            <img src="" alt="Marca 3">
            <p>Marca 3</p>
        </div>
              
    </section>

    <section class="suggested-products">
        <h2>Productos Sugeridos</h2>
        <div class="product">
            <img src="" alt="Producto 1">
            <p>Categoría del Producto</p>
            <p>Nombre del Producto</p>
            <p>Precio</p>
        </div>

        <div class="product">
            <img src="" alt="Producto 2">
            <p>Categoría del Producto</p>
            <p>Nombre del Producto</p>
            <p>Precio</p>
        </div>
       
        <div class="product">
            <img src="" alt="Producto 3">
            <p>Categoría del Producto</p>
            <p>Nombre del Producto</p>
            <p>Precio</p>
        </div>
    </section>

    <footer></footer>
</body>
</html>