<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Iniciar Sesión - Digital Pets | PETSHOP</title>
</head>
<body>
    <header></header>

    <h1>Bienvenido</h1>
    <form>
        <label for="email">E-mail</label>
        <input type="text" id="email" name="email" required>
        
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" required>
        
        <input type="submit" value="Iniciar Sesión">
    </form>
    <p><a href="#">¿Olvidaste tu contraseña?</a></p>
    <p>¿No tienes cuenta? <a href="#">Regístrate</a></p>
    
    <footer></footer>
</body>
</html>