<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Iniciar Sesión - Digital Pets | PETSHOP</title>
</head>
<body>
    <header>
        <nav class="top-header">
            <div class="logo">
                <a href="/"><img src="/images/LogoDigitalPets2.png" alt="Logo de DigitalPets"></a>
            </div>
            <div class="search">
                <input type="search" name="search-products" id="in-search" placeholder="Buscar productos, marcas, etc.">
                <button type="submit" id="btn-search"><i class="fa fa-search"></i></button> 
            </div>
            <div class="account">
                <ul>
                    <li><a href="/login" class="login">Ingresar</a></li>
                    |<li><a href="/register" class="register">Registrarse</a></li> 
                    <li><a href="/productCart" class="product-cart"><i class="fas fa-shopping-cart"></i></a></li> 
                </ul>
            </div>
        </nav>
    </header>

    <h1>Bienvenido</h1>
    <form>
        <label for="email">E-mail</label>
        <input type="text" id="email" name="email" required>
        
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" required>
        
        <input type="submit" value="Iniciar Sesión">
    </form>
    <p><a href="#">¿Olvidaste tu contraseña?</a></p>
    <p>¿No tienes cuenta? <a href="#">Regístrate</a></p>
    
    <footer id="footer">
        <div class="logo">
            <img src="/images/LogoDigitalPets2.png" alt="Logo de DigitalPets">
        </div>
        <div class="footer-links">
            <div class="infomation">
                <ul>
                    <li><a href="#">Sobre nosotros          +</a></li>
                    <li><a href="#">Información             +</a></li>
                    <li><a href="#">Preguntas frecuentes    +</a></li>
                </ul>
            </div>
            <div class="networks">
                <h6>Redes</h6>    
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>