<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>Detalles - Digital Pets | PETSHOP</title>
</head>
<body>
    <header></header>

    <main>
        <div class="detail-heading">
            <div class="list">
                <ul>
                    <li><a href="/">INICIO</a></li>
                    <li><a href="#"><i class="fa fa-greater-than"></i><span>CATEGORIA</span></a></li>
                    <li><a href="#"><i class="fa fa-greater-than"></i><span>SUBCATEGORIA</span></a></li>
                </ul>
            </div>
        </div>
        <div class="detail-container">    
            <div class="detail-product">
                <div>
                    <img class="image-product" src="/images/Producto-AlimentoCoonejos.webp" alt="image-product">
                </div>
                <div class="detail">
                    <div class="product">
                        <h3>Nombre del Producto</h3>
                        <h4>Peso Producto</h4>
                        <h4>Precio ARS</h4>
                    </div>
                    <div class="detail-options">
                        <div class="wrapper">
                            <span class="out">-</span>
                            <span class="num">1</span>
                            <span class="add">+</span>
                        </div>
                        <button class="btn btn-block">AGREGAR AL CARRITO</button>
                    </div>
                </div>
            </div>

            <div class="detail-description">
                <h3>Descripción:</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum natus, nulla modi quis quae fugit accusamus vero velit inventore culpa ab necessitatibus expedita deserunt praesentium blanditiis iure voluptas amet animi.</p>
            </div>

            <div class="suggested">
                <p>Productos Sugeridos</p>
            </div>

            <div class="sub-main-footer">
                <img class="image-footer" src="/images/Producto-KongoMedianoYAdulto.webp" alt="image-footer">
                <div class="sub-main-descripcion">
                    <p class="category">Categoría del producto</p>
                    <p class="name">Nombre del Producto</p>
                    <p class="price">Precio</p>
                </div>
            </div>
            <br>
            <div class="sub-main-footer">
                <img class="image-footer" src="/images/producto-SabrositosGatoAdulto.webp" alt="image-footer">
                <div class="sub-main-descripcion">
                    <p class="category">Categoría del producto</p>
                    <p class="name">Nombre del Producto</p>
                    <p class="price">Precio</p>
                </div>
            </div>
            <br>
            <div class="sub-main-footer">
                <img class="image-footer" src="/images/Producto-KongoMedianoYAdulto.webp" alt="image-footer">
                <div class="sub-main-descripcion">
                    <p class="category">Categoría del producto</p>
                    <p class="name">Nombre del Producto</p>
                    <p class="price">Precio</p>
                </div>
            </div>      

        </div>
    </main>

    <footer></footer>

    <script>
        const add = document.querySelector(".add"),
        out = document.querySelector(".out"),
        num = document.querySelector(".num");
        let a = 1;
        add.addEventListener("click", ()=>{
          a++;
          num.innerText = a;
        });
        out.addEventListener("click", ()=>{
          if (a > 1) {
            a--;
            num.innerText = a;
          }
        });
      </script>
</body>
</html>