<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/cart.css">
    <title>Finalizar la compra - Digital Pets | PETSHOP</title>
    <link rel="shortcut icon" href="\images\LogoDigitalPets.png" type="image/x-icon">
</head>

<body>
    <header id="header-main">
        <nav class="top-header">
            <div class="burger-menu"> 
                <button><i class="fas fa-bars"></i></button>
            </div>
            <div class="logo">
                <a href="/"><img src="/images/LogoDigitalPets2.png" alt="Logo de DigitalPets"></a>
            </div>
            <div class="search">
                <input type="search" name="search-products" id="in-search" placeholder="Buscar productos, marcas, etc.">
                <button type="submit" id="btn-search"><i class="fa fa-search"></i></button> 
            </div>
            <div class="account">
                <ul>
                    <li><a href="/login" class="login">Ingresar</a></li>
                    <li><a href="/register" class="register">Registrarse</a></li> 
                    <li><a href="/productCart" class="product-cart"><i class="fas fa-shopping-cart"></i></a></li> 
                </ul>
            </div>
        </nav>
        <nav class="navBar">
            <div class="location">
                <i class="fas fa-map-marker-alt" style="color: #000000;"></i>
                <span>Santa Fe</span>
            </div>
            <span class="navBar-oc">Ofertas</span>
            <span class="navBar-oc">Categorias</span>
        </nav>
    </header>
    <main>

        <div class="barra-desc-prod">
            <span style="color: transparent;">------------------------------------</span>
            <span class="prod">Producto</span>
            <span class="desc">Descripción</span>
            <span class="price">Precio<span>
            <span class="count">Cantidad<span>
        </div>

        <div class="parent">
            <div class="div-parent1">
                <div class="container">
                    <div class="div1">
                        <img src="/images/Producto-AlimentoCoonejos.webp" alt="Producto 1">
                    </div>
                    <div class="div2">

                        <p>Comida para conejo</p>
                    </div>
                    <div class="div3">

                        <p>Alimento balanceado diario para conejos</p>
                    </div>
                    <div class="div4">

                        <p class="product-price">$10.00</p>
                    </div>
                    <div class="div5">

                        <div class="wrapper">
                            <span class="out">-</span>
                            <span class="num">1</span>
                            <span class="add">+</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="div-parent2">
                <div class="container">
                    <div class="div1">
                        <img src="/images/Producto-AlimentoCoonejos.webp" alt="Producto 1">
                    </div>
                    <div class="div2">
                        <p>Comida para conejo</p>
                    </div>
                    <div class="div3">
                        <p>Alimento balanceado diario para conejos</p>
                    </div>
                    <div class="div4">
                        <p class="product-price">$10.00</p>
                    </div>
                    <div class="div5">
                        <div class="wrapper">
                            <span class="out">-</span>
                            <span class="num">1</span>
                            <span class="add">+</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="div-parent3">
                <div class="container">
                    <div class="div1">
                        <img src="/images/Producto-AlimentoCoonejos.webp" alt="Producto 1">
                    </div>
                    <div class="div2">
                        <p>Comida para conejo</p>
                    </div>
                    <div class="div3">
                        <p>Alimento balanceado diario para conejos</p>
                    </div>
                    <div class="div4">
                        <p class="product-price">$10.00</p>
                    </div>
                    <div class="div5">
                        <div class="wrapper">
                            <span class="out">-</span>
                            <span class="num">1</span>
                            <span class="add">+</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="div-parent4">
                <div class="sidebar">
                    <div class="envio">
                        <legend>Envío:</legend>
                    </div>
                    <div class="option">
                        <input type="radio" name="envio" id="retiroSucursal"></input>
                        <label for="retiroSucursal">Retiro en sucursal</label>
                    </div>
                    <div class="option">
                        <input type="radio" name="envio" id="envioDomicilio"></input>
                        <label for="envioDomicilio">Envío a domicilio</label>
                    </div>
                </div>
            </div>
            <div class="div-parent5">
                <div class="options">
                    <div class="mp">
                        <legend>Medio de pago:</legend>
                    </div>
                    <div class="option">
                        <input type="radio" name="envio" id="retiroSucursal"></input>
                        <label for="retiroSucursal">Transferencia</label>
                    </div>
                    <div class="option">
                        <input type="radio" name="envio" id="envioDomicilio"></input>
                        <label for="envioDomicilio">Mercado Pago</label>
                    </div>
                    <div class="option">
                        <input type="radio" name="envio" id="retiroSucursal"></input>
                        <label for="retiroSucursal">Pago en Sucursal</label>
                    </div>
                </div>
            </div>
            <div class="div-parent6">
                <div class="parent6-complete">
                    <div class="checkout">
                        <div class="detalle">
                            <legend>Detalle de la compra:</legend>
                        </div>
                        <div class="detalle-car">
                            <p>Carrito ______ $10.00</p>
                            <p>Envío ________ $0.00</p>
                            <p>Total: _______ $10.00</p>
                        </div>
                    </div>
                    <div class="btn-fc">
                        <button>Finalizar Compra</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
    <footer id="footer">
        <div class="logo">
            <img src="/images/LogoDigitalPets2.png" alt="Logo de DigitalPets">
        </div>
        <div class="footer-links">
            <div class="information">
                <ul>
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Información</a></li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                </ul>
            </div>
            <div class="networks">
                <h6>Redes</h6>    
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                </ul>
            </div>
        </div>
      </footer>

    <script>
        const add = document.querySelector(".add"),
        out = document.querySelector(".out"),
        num = document.querySelector(".num");
        let a = 1;
        add.addEventListener("click", ()=>{
          a++;
          num.innerText = a;
        });
        out.addEventListener("click", ()=>{
          if (a > 1) {
            a--;
            num.innerText = a;
          }
        });
      </script>
</body>

</html>