<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles - Digital Pets | PETSHOP</title>
</head>
 <body>
    <header></header>

    <main class="detail-main">
        <div class="detail-container">

            <div class="detail-heading">
                <a href="#"></a>
                <ul>
                    <li>Categoria</li>
                    <li>Subcategoria</li>
                </ul>
            </div>

            <div class="detail-product">
                <img class="image-product" src="#" alt="image-product">
                <h2>Nombre del Producto</h2>
                <h4>Peso Producto</h4><p>peso</p>
                <h4>Precio ARS</h4><p>precio</p>
            </div>

            <div class="detail-options">
                <div class="quantitySelector">
                    <button>-</button>
                    <input type="text" value="1">
                    <button>+</button>
                </div>
                <a href="#">
                  <button>Agregar al carrito</button>
                </a>
            </div>

            <div class="detail-description">
                <h4>Descripción:</h4>
                <p>descripcion</p>
            </div>

            <div class="detail-footer">
                <p><strong>Productos sugeridos</strong></p>
                <div class="sub-detail-footer">
                    <img class="image-product" src="#" alt="image-product">
                    <div class="sub-main-descripcion">
                        <p>Categoría del producto</p>
                        <p>Nombre del Producto</p>
                        <p>Precio</p>
                    </div>
                </div>
                <br>
                <div class="sub-detail-footer">
                    <img class="image-product" src="#" alt="image-product">
                    <div class="sub-main-descripcion">
                        <p>Categoría del producto</p>
                        <p>Nombre del Producto</p>
                        <p>Precio</p>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <footer></footer>
</body>
</html>