<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse - Digital Pets | PETSHOP</title>
</head>
<body>
        <h3>Registrate</h3>
  
    <form>
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required><br><br>
  
      <label for="apellido">Apellido:</label>
      <input type="text" id="apellido" name="apellido" required><br><br>
  
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" required><br><br>
  
      <label for="contrasena">Contraseña:</label>
      <input type="password" id="contrasena" name="contrasena" required><br><br>
  
      <label for="repetir_contrasena">Repetir Contraseña:</label>
      <input type="password" id="repetir_contrasena" name="repetir_contrasena" required><br><br>
  
      <label for="fecha_nacimiento">Fecha de NAcimiento:</label>
      <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required><br><br>
  
      <input type="submit" value="Crear cuenta"><br><br>
  
      ¿Ya tienes cuenta? <a href="#">Ingresa Aquí</a>
    
    </form>
  
</body>
</html>