<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/account.css">
    <title>Registrarse - Digital Pets | PETSHOP</title>
    <link rel="shortcut icon" href="\images\LogoDigitalPets.png" type="image/x-icon">
</head>

<body>
    <header>
        <nav class="top-header">
            <div class="logo">
                <a href="/"><img src="/images/LogoDigitalPets2.png" alt="Logo de DigitalPets"></a>
            </div>
            <div class="search">
                <input type="search" name="search-products" id="in-search" placeholder="Buscar productos, marcas, etc.">
                <button type="submit" id="btn-search"><i class="fa fa-search"></i></button>
            </div>
            <div class="account">
                <ul>
                    <li><a href="/login" class="login">Ingresar</a></li>
                    |<li><a href="/register" class="register">Registrarse</a></li>
                    <li><a href="/productCart" class="product-cart"><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </nav>
        <nav class="barra">
            <div class="ubicacion">
                <i class="fas fa-map-marker-alt" style="color: #000000;"></i>
                <span>Santa Fe</span>
            </div>
            <span class="barra-oc">Ofertas</span>
            <span class="barra-oc">Categorias</span>
        </nav>
    </header>
    <main class="main-register">
        <h1>Registrate</h1>
        <form class="form-register">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required><br><br>

            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required><br><br>

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required><br><br>

            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena" required><br><br>

            <label for="repetir_contrasena">Repetir Contraseña:</label>
            <input type="password" id="repetir_contrasena" name="repetir_contrasena" required><br><br>

            <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required><br><br>

            <input type="submit" value="Crear cuenta"><br><br>

            ¿Ya tienes cuenta? <a href="/login">Ingresa Aquí</a>

        </form>

    </main>

    <footer id="footer">
        <div class="logo">
            <img src="/images/LogoDigitalPets2.png" alt="Logo de DigitalPets">
        </div>
        <div class="footer-links">
            <div class="infomation">
                <ul>
                    <li><a href="#">Sobre nosotros +</a></li>
                    <li><a href="#">Información +</a></li>
                    <li><a href="#">Preguntas frecuentes +</a></li>
                </ul>
            </div>
            <div class="networks">
                <h6>Redes</h6>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>