
/*=======================MAIN======================*/

/*--------MOBILE-----------*/
@media (max-width: 414px) {

    .div-parent1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 30px;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    

    .div-parent1 .prod {
        grid-area: 1 / 2 / 2 / 3;
    }
    
    .div-parent1 .desc, .div-parent1 .price {
        display: none;
    }
    
    .div-parent1 .count {
        grid-area: 1 / 3 / 2 / 4;
    }
    
    /* Grid de main*/
    
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30px repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    
    .div-parent1 { grid-area: 1 / 1 / 2 / 2; }
    .div-parent2 { grid-area: 2 / 1 / 3 / 2; }
    .div-parent3 { grid-area: 3 / 1 / 4 / 2; }
    .div-parent4 { grid-area: 4 / 1 / 5 / 2; }
    .div-parent5 { grid-area: 5 / 1 / 6 / 2; }
    .div-parent6 { grid-area: 6 / 1 / 7 / 2; }
    .div-parent7 { grid-area: 7 / 1 / 8 / 2; }
    
    .div-parent1 {
        border-top: 1px solid rgb(129, 129, 129);
    }
    
    /* Cards de productos */
    .div-parent2, .div-parent3, .div-parent4 {
        padding: 10px;
    }
    
    /* Cards de envios, medios de pago y detalle de compra */
    .div-parent5, .div-parent6, .div-parent7 {
        display: flex;
        justify-content: center;
    }
    
    .div-parent6 div.options{
        padding: 15px 0;
    }
    
    .checkout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 15px 0;
    }
    
    
    /* Atributos de envios */
    .sidebar, .options, .checkout{
        margin: 10px 5px;
    }
    
    /* Img de producto */
    div.container img {
        width: 180px;
    }
    
    div.sidebar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 15px 0;
    }
    
    div.sidebar div.envio {
        text-align: center;
    }
    
    div.sidebar, div.options, div.checkout {
        background-color: #bbbbbb;
        width: 90%;
        border-radius: 30px;
    }
    
    div.option {
        flex-direction: column;
        padding: 10px 0;
    }
    
    div.checkout div.detalle-car p {
        padding: 2px 0;
    }
    
    div.options .mp {
        padding: 10px 0;
    }
    
    div.checkout .detalle,div.checkout div.detalle-car{
        padding: 10px 0;
    }
    
    div.btn-fc button {
        border-radius: 20px;
        width: 60%;
        height: 35px;
        background-color: black;
        color: white;
    }
    
    div.btn-fc {
        padding: 5%;
    }
    
    /* Grid de detalle de product*/
    
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 19px;
        grid-row-gap: 0px;
    }
    
    .div1 {grid-area: 1 / 1 / 2 / 2; }
    .div2 {grid-area: 1 / 2 / 2 / 3;}
    .div3 {display: none;}
    .div4 {grid-area: 1 / 2 / 2 / 3;}
    .div5 {grid-area: 1 / 3 / 2 / 4;}
    
    div.div2 p, div.div4 p {
        display: flex;
        flex-direction: column;
    }
    
    div.div2 {
        padding: 60px 0;
    }
    
    div.div4 {
        padding: 110px 0 0 0;
    }
    
    div.div5 span{
        display: flex;
        flex-direction: column;
    }
    
    .wrapper{
        width: 80px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: black;
        border-radius: 40px;
        margin: 90px 0 0 0;
    }
    .wrapper span{
        width: 100%;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
        color: white;
    }
    .wrapper span.num{
        pointer-events: none; 
    }
}


/*=================================================*/

/*--------TABLET-----------*/
@media (min-width: 415px) and (max-width: 768px){

    .div-parent1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 30px;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    

    .div-parent1 .prod {
        grid-area: 1 / 2 / 2 / 3;
    }
    
    .div-parent1 .desc, .div-parent1 .price {
        display: none;
    }
    
    .div-parent1 .count {
        grid-area: 1 / 3 / 2 / 4;
    }

    /* Grid de main*/
    
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30px repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    
    .div-parent1 { grid-area: 1 / 1 / 2 / 2; }
    .div-parent2 { grid-area: 2 / 1 / 3 / 2; }
    .div-parent3 { grid-area: 3 / 1 / 4 / 2; }
    .div-parent4 { grid-area: 4 / 1 / 5 / 2; }
    .div-parent5 { grid-area: 5 / 1 / 6 / 2; }
    .div-parent6 { grid-area: 6 / 1 / 7 / 2; }
    .div-parent7 { grid-area: 7 / 1 / 8 / 2; }
    
    .div-parent1 {
        border-top: 1px solid rgb(129, 129, 129);
    }
    
    /* Cards de productos */
    .div-parent2, .div-parent3, .div-parent4 {
        padding: 10px;
    }
    
    /* Cards de envios, medios de pago y detalle de compra */
    .div-parent5, .div-parent6, .div-parent7 {
        display: flex;
        justify-content: center;
    }
    
    .div-parent6 div.options{
        padding: 15px 0;
    }
    
    .checkout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 15px 0;
    }
    
    
    /* Atributos de envios */
    .sidebar, .options, .checkout{
        margin: 10px 5px;
    }
    
    /* Img de producto */
    div.container img {
        width: 180px;
    }
    
    div.sidebar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 15px 0;
    }
    
    div.sidebar div.envio {
        text-align: center;
    }
    
    div.sidebar, div.options, div.checkout {
        background-color: #bbbbbb;
        width: 50%;
        border-radius: 30px;
    }
    
    div.option {
        flex-direction: column;
        padding: 10px 0;
    }
    
    div.checkout div.detalle-car p {
        padding: 2px 0;
    }
    
    div.options .mp {
        padding: 10px 0;
    }
    
    div.checkout .detalle,div.checkout div.detalle-car{
        padding: 10px 0;
    }
    
    div.btn-fc button {
        border-radius: 20px;
        width: 60%;
        height: 35px;
        background-color: black;
        color: white;
    }
    
    div.btn-fc {
        padding: 5%;
    }
    
    /* Grid de detalle de product*/
    
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 19px;
        grid-row-gap: 0px;
    }
    
    .div1 {grid-area: 1 / 1 / 2 / 2; }
    .div2 {grid-area: 1 / 2 / 2 / 3;}
    .div3 {display: none;}
    .div4 {grid-area: 1 / 2 / 2 / 3;}
    .div5 {grid-area: 1 / 3 / 2 / 4;}
    
    div.div2 p, div.div4 p {
        display: flex;
        flex-direction: column;
    }
    
    div.div2 {
        padding: 60px 0;
    }
    
    div.div4 {
        padding: 110px 0 0 0;
    }
    
    div.div5 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .wrapper{
        width: 80px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: black;
        border-radius: 40px;
        margin: 90px 0 0 0;
    }
    .wrapper span{
        width: 100%;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
        color: white;
    }
    .wrapper span.num{
        pointer-events: none; 
    }

}

/*--------DESKTOP-----------*/
@media(min-width: 769px){
    
    /* columnas de prducto, descripcion, precio, cantidad */
    .div-parent1 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 30px;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    

    .div-parent1 .prod {
        grid-area: 1 / 2 / 2 / 3;
    }
    
    .div-parent1 .desc {
        display: block;
        grid-area: 1 / 3 / 2 / 4;
    }
    
    .div-parent1 .price {
        display: block;
        grid-area: 1 / 4 / 2 / 5;
    }
    
    .div-parent1 .count {
        grid-area: 1 / 5 / 2 / 6;
    }

    /* Grid de main*/
    
    .parent {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 20px repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    
    .div-parent1 { grid-area: 1 / 1 / 2 / 2; }
    .div-parent2 { grid-area: 2 / 1 / 3 / 2; }
    .div-parent3 { grid-area: 3 / 1 / 4 / 2; }
    .div-parent4 { grid-area: 4 / 1 / 5 / 2; }
    .div-parent5 { grid-area: 2 / 2 / 3 / 3; }
    .div-parent6 { grid-area: 3 / 2 / 4 / 3; }
    .div-parent7 { grid-area: 4 / 2 / 5 / 3; }
    
    .div-parent2, .div-parent3, .div-parent4 {
        border-top: 1px solid rgb(129, 129, 129);
    }
    
    /* Cards de productos */
    .div-parent2, .div-parent3, .div-parent4 {
        padding: 10px;
    }

    /* Cards de envios, medios de pago y detalle de compra */
    .div-parent5, .div-parent6, .div-parent7{
        display: flex;
        justify-content: center;
    }

    .div-parent6 div.options{
        padding: 15px 0;
    }

    .checkout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 15px 0;
    }


    /* Atributos de envios */
    .sidebar, .options, .checkout{
        margin: 10px 5px;
    }
    
    div.container img {
        width: 180px;
    }
    
    div.sidebar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 15px 0;
    }
    
    div.sidebar div.envio {
        text-align: center;
    }
    
    div.sidebar, div.options, div.checkout {
        background-color: #bbbbbb;
        width: 90%;
        border-radius: 30px;
    }
    
    div.option {
        flex-direction: column;
        padding: 10px 0;
    }
    
    div.checkout div.detalle-car p {
        padding: 2px 0;
    }
    
    div.options .mp {
        padding: 10px 0;
    }
    
    div.checkout .detalle,div.checkout div.detalle-car{
        padding: 10px 0;
    }
    
    div.btn-fc button {
        border-radius: 20px;
        width: 30%;
        height: 35px;
        background-color: black;
        color: white;
    }
    
    div.btn-fc {
        padding: 5%;
    }
    
    
    /* Grid de detalle de product*/
    
    .container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { 
        display: block;
        grid-area: 1 / 3 / 2 / 4; 
    }
    .div4 { grid-area: 1 / 4 / 2 / 5; }
    .div5 { grid-area: 1 / 5 / 2 / 6; }
    
    div.div2 p, div.div4 p {
        display: flex;
        flex-direction: column;
    }
    
    div.div2, div.div3, div.div4 {
        padding: 80px 0;
    }
    
    .wrapper{
        width: 80px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: black;
        border-radius: 40px;
        margin-left: 50px;
        margin-top: 76px;
    }
    .wrapper span{
        width: 100%;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
        color: white;
    }
    .wrapper span.num{
        pointer-events: none; 
    }
}