*{
    box-sizing: border-box;
    margin:0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    text-align: center;
}

a {
    text-decoration: none;
    color: #333;
}
ul li {
    list-style-type: none;
}
h2{
    text-align: center;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color:#000;
    font-weight: bold;
}
button {
    background-color: #000;
    color: #fff;
    padding: 5px 5px;
    border-radius: 50%;
}

/*=====================HEADER======================*/
.top-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background-color: #fff;/*#cebb9c;*/
    /* border-bottom:#eee solid 2px; */

}

header {
    border-bottom:#eee solid 2px;
}

.logo{
    margin: 20px;
    width: 130px;
    height: 90px;
}
.logo img{
    width: 100%;
    border-radius: 50%;
 /*   border: #000 double 2px;*/
}

.account ul{
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.account ul li{
    font-size: 14px;
    padding: 2px;
}

.fab {
    border-radius: 50%;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
#in-search{
    font-size: 17px;
    border-radius: 15px;
    width: 150%;
    padding: 7px;
}

button#btn-search {
    font-size: 17px;
    margin-left: 10px;
}

nav.barra {
    display: flex;
    justify-content: flex-start;
    padding: 0 0 8px 10px;
}

nav.barra span.barra-oc, nav.barra div.ubicacion {
    padding: 0 40px;
}



/*=================================================*/


/*=======================MAIN======================*/

div.barra-desc-prod {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0 20px 20px;
}

div.barra-desc-prod .prod {
    margin-left: 10%;
} 

div.barra-desc-prod .desc {
    margin-left: 11%;
}

div.barra-desc-prod .price {
    margin-left: 8.5%;
}

div.barra-desc-prod .count {
    margin-left: 56px;
}


/* Grid de main*/

.parent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0 50px 40px;
}

.div-parent1 { grid-area: 1 / 1 / 2 / 2; }
.div-parent2 { grid-area: 2 / 1 / 3 / 2; }
.div-parent3 { grid-area: 3 / 1 / 4 / 2; }
.div-parent4 { grid-area: 1 / 2 / 2 / 3; }
.div-parent5 { grid-area: 2 / 2 / 3 / 3; }
.div-parent6 { grid-area: 3 / 2 / 4 / 3; }

.div-parent1, .div-parent2, .div-parent3 {
    border-top: 1px solid rgb(129, 129, 129);
}

.div-parent1, .div-parent2, .div-parent3 {
    margin-left: 25px;
}

.div-parent4, .div-parent5, .div-parent6{
    display: flex;
    justify-content: center;
}



.container, .sidebar, .options, .checkout{
    margin: 10px 5px;
}

div.container {
    display: flex;
    justify-content: space-between;
}

div.container img {
    width: 200px;
}

div.sidebar div.envio {
    padding: 15px 0;
}

div.sidebar, div.options {
    background-color: #bbbbbb;
    width: 45%;
    border-radius: 30px;
}

div.checkout {
    background-color: #bbbbbb;
    width: 225px;
    border-radius: 30px;
    padding: 10px;
}

div.option {
    flex-direction: column;
    padding: 20px 0 10px 0;
}

div.options .mp {
    padding: 15px 0;
}

div.checkout .detalle,div.checkout div.detalle-car{
    padding: 20px 0;
}

.div-parent6 div.btn-fc button {
    border-radius: 20px;
    width: 60%;
    height: 35px;
}

main.main {
    padding: 5%;
}

main.main h3 {
    padding: 2%;
    font-size: 20px;
}

main.main-login {
    padding: 10%;
}

div.p {
    padding: 2% 0;
}

/* Grid de detalle de product*/

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 1 / 5 / 2 / 6; }
.div6 { grid-area: 1 / 6 / 2 / 7; }

div.div2 p, div.div3 p, div.div4 p {
    padding: 85px 0;
}

div.div5 p {
    padding: 75px 0;
}


p.quantity-control {
    width: 125px;
}

p.quantity-control input.quantity-input {
    width: 30px;
}

p.quantity-control button.quantity-button {
    width: 30px;
}


/*=================================================*/

/*=====================FOOTER======================*/
#footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    background-color: #fff;/*#cebb9c;*/
    border-top:#eee solid 2px;
}
#footer .footer-links{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 20px;
    text-align: left;
}

#footer .informacion{
    margin: 60px 0px;
}
#footer .networks{
    margin-top: 20px;
}

#footer h6{
    margin: 10px 40px;
}

.networks ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/*=================================================*/