/*=====================FOOTER======================*/
#footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border-top:#eee solid 2px;
    padding: 10px 15px;
}
#footer .footer-links{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    text-align: left;
    padding-left: 20px;
}

#footer .information li {
    font-size: 14px;
    position: relative;
    padding-right: 20px; /* Espacio para el signo + */
}

#footer .information li::after {
    content: "+";
    position: absolute;
    right: 0;
}
#footer .networks{
    margin-top: 10px;
}
#footer .networks ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
/*=================================================*/