.detail-heading {
    padding: 15px;
    margin: 20px 0px 25px;
}
.list {
    display: flex;
}
.list ul {
    list-style-type: none;
    display: flex;
}
.list a {
    text-decoration: none;
    color: grey;
    font-size: 11PX;
    font-weight: bold;
    padding: 0px 4px 0px;
}
.list span {
    padding-left: 8px;
}
.detail-container {
    max-width: 1200px;
    width: 100%;
    padding: 15px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.detail-product{
    display: block;
    width: 100%;
    margin-bottom: 25px;
    transition: all 800ms;
}
.image-product {
    width: 70%;
    display: block;
    margin: auto;
}
.detail {
    width: 100%;
    justify-content: flex-start;
}
.product h2{
    font-weight: 400;
    font-size: 2.4em;
}
.product-detail-price {
    font-size: 4em;
    margin: 10px 0;
}  
.small {
    font-size: 1.8em;
    color: #39b54a;
}  
.small span {
    text-decoration: line-through;
}
.actions-list {
    margin-bottom: 50px;
  }
  
  .actions-list li {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 20px 0;
  }
  
  .actions-list i {
    color: #39b54a;
    font-size: 1.1em;
    margin-right: 15px;
  }
  
  .actions-list p {
    color: #666666;
    font-size: 1em;
    margin: 0;
  }
.detail-options{
    display: flex;
    padding: 10px 0px; 
    width: 100%;
}
.wrapper{
    height: 42px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    border-radius: 40px;
    margin-right: 3px;
}
.wrapper span{
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    color: white;
}
.wrapper span.num{
    pointer-events: none; 
}
.btn-block{
    width: 80%;
    height: 42px;
    display: block;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    border: none; 
    padding: 10px 20px;
    cursor: pointer; 
    border-radius: 40px; 
}
.btn:hover {
    background-color: #333;
}
.detail-description h3 {
    padding: 10px 0px;
    border-bottom: solid 1px black;
}
.detail-description p {
    padding: 10px 0px 20px;
}
.suggested {
    background-color: #000;
    font-size: 24px;
    text-align: center;
    
    color: white;
    display: block;
    margin: 80px 50px 0px 50px;
    padding: 10px 0px;
}


div.products{
    display: flex;
    flex-wrap: wrap;
  
    justify-content:center;
    gap: 15px; 
    margin: 20px 0px; 
}
div.products article{
    width: 280px;
    height: 400px;
    border: #333 solid 1px;
    border-radius: 10px;
    padding: 10px;
}
div.products article img{
    width: 260px;
    height: 260px;
}
div.products article .product-details{
    border-top: #eee solid 1px;
    font-size: 16px;
    line-height: 24px;
}
.category{
    font-size: 16px;
    margin-bottom: 5px;
    color: #666;
}
.product-details .price{
    font-size: 24px;
    font-weight: 900;
    margin: 10px 0px; 
}
/*-----------------------------------------*/
div.products article{
    transition: all 0.2s ease-in;
}
div.products article:hover{
    box-shadow:  0px 0px 10px rgb(100, 100, 100);
}

@media(min-width: 361px){
    .detail-heading {
        padding-left: 20px;
    }
    .list a {
        font-size: 15PX;
    }
    .detail-product {
        display: flex;
    }
    .product {
        text-align: left;
    }
    .sub-main-footer {
        width: 30%;
    }
    .sub-main-footer:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media(min-width: 769px){
    
    .detail {
        width: 60%;
    }
    .product {
        margin-bottom: 50px;
    }

}
@media (min-width: 1024px){
    div.products {
        flex-basis: 25%;
    }
}
