main{
    width: 100%;
    background-color: #fff;
}
.list-products{
    margin-top:50px 0px;
}
.list-products h2{
    display: block;
    background-color:#000;
    color: #fff;
    margin: 10px 50px 0px 50px;
    padding: 10px 0px;
}
.search-product {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 50px 0px 50px;
    padding: 10px 0px;
}
form {
    margin-right: 10px; 
}
label {
    margin-right: 5px;
}
select {
    padding: 8px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
.create {
    background-color: #008CBA;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;
}
.create:hover {
    background-color: #0077A3;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    
}
div.products article{
    display: flex;
    align-items: center;
    width: 900px;
    height: 200px;
    border: #333 solid 1px;
    padding: 5px;
}
div.products article img{
    width: 100px;
    height: 100px;
    margin-left: 5px;
}
.product-details{
    font-size: 14px;
    text-align: left;
    font-weight: 600;
    margin-left: 3px;
    padding-left: 10px;
    flex-grow: 1;
}
.product-details span{
    font-size: 18px;
    font-weight: 900;
}
.product-edit{
    width: 100px;
    height: 40px;
    margin: 10px 10px;
    background-color: rgb(55, 219, 55);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}
.product-edit:hover{
    background-color: rgb(98, 223, 98);
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.pagination a {
    color: #007BFF;
    padding: 8px 12px;
    text-decoration: none;
    margin: 0 5px;
}
.pagination a.active {
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
}
@media(min-width: 769px){
    div.products article img{
        width: 180px;
        height: 180px;
        margin-left: 5px;
    }
}