<header id="header-main">
    <nav class="top-header">
        <div class="burger-menu"> 
            <button><i class="fas fa-bars"></i></button>
        </div>
        <div class="logo">
            <a href="/"><img src="/images/LogoDigitalPets2.png" alt="Logo de DigitalPets"></a>
        </div>
        <div class="search">
            <input type="search" name="search-products" id="in-search" placeholder="Buscar productos, marcas, etc.">
            <button type="submit" id="btn-search"><i class="fa fa-search"></i></button> 
        </div>
        <div class="account">
            <ul>
                <% if (isLoggedIn) { %>
                    <!-- Si el usuario está autenticado -->
                    <li><a href="/profile" class="profile">Perfil</a></li>
                    <li><a href="/logout" class="logout">Cerrar sesión</a></li>
                    <li><a href="/product/cart" class="product-cart"><i class="fas fa-shopping-cart"></i></a></li> 
                <% } else { %>
                    <!-- Si el usuario NO está autenticado -->
                    <li><a href="/user/login" class="login">Ingresar</a></li>
                    <li><a href="/user/register" class="register">Registrarse</a></li> 
                    <li><a href="/product/cart" class="product-cart"><i class="fas fa-shopping-cart"></i></a></li> 
                <% } %>
            </ul>
        </div>
    </nav>
    <nav class="navBar">
        <div class="location">
            <i class="fas fa-map-marker-alt" style="color: #000000;"></i>
            <span>Santa Fe</span>
        </div>
        <span class="navBar-oc">Ofertas</span>
        <span class="navBar-oc">Categorias</span>
    </nav>
</header>