<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {styles: ['normalize', 'styles','header','footer','account']}) %>
<body>
    <%- include ('../partials/header') %>

    <main class="main-login">
        <h1>Bienvenido</h1>
        <form class="form-login" method="post" action="/user/login">
            <label for="email">E-mail</label>
            <input type="text" id="email" name="email" required>
            
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" required>

            <label>
                <input type="checkbox" name="remember"> Recordarme
            </label>
            
            <input type="submit" value="Iniciar Sesión">
        </form>
        <div class="p">
            <p><a href="#">¿Olvidaste tu contraseña?</a></p>
            <p>¿No tienes cuenta? <a href="/register">Regístrate</a></p>
        </div>
    </main>
    <%- include ('../partials/footer') %>
</body>
</html>